*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: darkseagreen;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: darkseagreen;
    transition: .5s;
}

body, h1 {
    color: white;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

body{
    background-color: black;
}

.image-gallery {
    margin-top: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
}

/* My Gallery Section Styles */
.my-gallery .gallery-item {
    position: relative;
    margin: 10px;
    margin-bottom: 50px;
    overflow: hidden;
    cursor: pointer;
    width: calc(25% - 20px);
    height: 500px;
}

.my-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.my-gallery .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.my-gallery .gallery-item:hover .image-overlay {
    opacity: 1;
}

.my-gallery .overlay-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.my-gallery .gallery-item:hover .overlay-text {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* Family Gallery Section Styles */
.family-gallery .gallery-item-family {
    position: relative;
    margin: 10px;
    overflow: hidden;
    width: calc(33.33% - 20px);
    margin-bottom: 5px;
    flex-grow: 1;
}

.family-gallery .gallery-item-family img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.family-gallery .family-image-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
}

.family-gallery .overlay-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.family-gallery .gallery-item-family:hover .family-image-overlay {
    opacity: 1;
}

.family-gallery .gallery-item-family:hover .overlay-text {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}


/* Generic Gallery Styles */
.gallery-item {
    position: relative;
    margin: 10px;
    margin-bottom: 0px;
    overflow: hidden;
    cursor: pointer;
    width: calc(25% - 20px);
    height: 500px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.generic-image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.gallery-item:hover .generic-image-overlay {
    opacity: 1;
}

.overlay-text {
    color: black;
    font-size: 20px;
    font-weight: 700;
}
